---
layout: default
title: home
---




<!--satart about section-->

{% include about.html %}

<!--end about section-->

<!--start welcome section-->

{% include welcome.html%}

<!--end welcome section-->

<!--start our service section-->
{% include service.html %}

<!--end our service section-->

<!-- start symple-cta section-->
    {% include experiment.html %}
<!-- end symple-cta section-->

<!-- start holder section-->
<section class="holderSec">
    <div class="container bgcolor">
        <div class="row">
            <div class="col-lg-12">
                <div class="HolderTitle text-center">
                    <h2>Ready <span> to </span> discuss your project?</h2>
                    <a href="" class="btn-green">work with us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start holder section-->




{% include fature.html %}

<!-- end fature section-->





