<!--start fature section-->
<section class="fatureSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="fatureContent text-center">
                    <h2>Optimizely X: The Experimentation Platform</h2>
                    <p>With Optimizely X, you can now experiment broadly across the entire 
                        customer experience, on any channel, any device, and any application.</p>
                    <div class="slideBtn">
                        <a href="">learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="fatureImg">
                    <img src="./assets/images/opt.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--end fature section-->