<!DOCTYPE Html>
<html>
    <head>
        <title>mcom</title>

        <!--all meta tag-->

        <meta charset="UTF-8">
        <meta name="keywords" content="html,css,js,xml,bootstrap">
        <meta name="Author" content="Shagor">
        <meta name="description" content="this is our project class and HW">
        <meta name="viewport" content="width=device-width">

        <!-- All CSS Files -->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/font-awesome.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/style2.css"/>
        <!-- End CSS Including -->
    </head>
    <body>
        <section class="ourWork">
            <div class="container">
                <div class="row">
                    <div class="mainWork">
                        <div class="col-lg-2">
                            <div class="workImg">
                                <img src="./assets/images/w1.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 paddingLeft">
                            <div class="workContent">
                                <h2>Work 1-on-1 with a Web Design Expert</h2>
                                <p>Digital Creative believes that every small business should work with a
                                    creative expert that truly understands their goals and corporate image –
                                    inside and out. That’s why we give every client their own dedicated point of
                                    contact that works with them from the very start of the relationship. They’re just a phone call,
                                    email or text message away. Even after we’ve launched your website.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mainWork">
                        <div class="col-lg-2">
                            <div class="workImg">
                                <img src="./assets/images/w2.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 paddingLeft">
                            <div class="workContent">
                                <h2>Make Your Website “Mobile-Friendly”</h2>
                                <p>Responsive Design technology will keep your website looking beautiful across all devices – from smartphones and tablets to high end desktop workstations. Your site’s layout and content will adjust automatically depending on the type of device or web browser your viewer is using.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mainWork">
                        <div class="col-lg-2">
                            <div class="workImg">
                                <img src="./assets/images/w3.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 paddingLeft">
                            <div class="workContent">
                                <h2>Optimize Your Site for Sales and Marketing</h2>
                                <p>Generate leads for your sales team, or capture live payments from customers. Digital Creative will equip your website with powerful action components that create and nurture business relationships with your visitors.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mainWork">
                        <div class="col-lg-2">
                            <div class="workImg">
                                <img src="./assets/images/w4.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 paddingLeft">
                            <div class="workContent">
                                <h2>Get Your Pages Indexed by Google, Bing and Yahoo!</h2>
                                <p>We’ll submit your site to be indexed for keywords relevant to your business. People are using search engines to find the type of products or services you offer, and traffic from those keywords is much more likely to become real, paying customers than other forms of traffic. Learn more about our Search Engine Optimization service.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mainWork">
                        <div class="col-lg-2">
                            <div class="workImg">
                                <img src="./assets/images/w5.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 paddingLeft">
                            <div class="workContent">
                                <h2>Get Found by Customers Nearby with Local Optimization</h2>
                                <p>Local shops don’t need to compete against the massive corporate giants when their customers are right around the corner in their own neighborhood. Our experts will ensure that your website stands tall amongst your local competitors, and gets discovered when people nearby look for the type of product or service you offer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mainWork">
                        <div class="col-lg-2">
                            <div class="workImg">
                                <img src="./assets/images/w6.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 paddingLeft">
                            <div class="workContent">
                                <h2>Gain Insight into Your Search Engine Exposure</h2>
                                <p>Installed and configured on all of your pages by your dedicated website expert, Analytics from Google will let you monitor how many hits your web pages are getting, where your viewers are coming from, and which pages they’re looking at.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mainWork">
                        <div class="col-lg-2">
                            <div class="workImg">
                                <img src="./assets/images/w7.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 paddingLeft">
                            <div class="workContent">
                                <h2>Monitor Your Web Traffic with Google Analytics</h2>
                                <p>Google Webmaster tools installed on your website will allow you to track which keywords your web pages are showing up for when people search for products or services like yours. You’ll also be able to monitor where you rank for those keywords, in comparison to your competitors – local and national.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--section symple start-->
       
        {{ content }}
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/jquery.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/main.js"></script>  
    </body>
</html>